*{
    box-sizing: border-box;
}


section{
    width: 100%;
    margin: auto;
    color:lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

footer{
    text-align: center;
}

.marginBottom{
    margin-bottom: 50px ;
}