<%- include('../partials/header'); %>


<h1>Calculadora</h1>

    <p>Página Calculadora! de EJS!!</p>

    <form action="./calculadora" method="post">

        <input type="text" name="number1" placeholder="Primer Número">
        <input type="text" name="number2" placeholder="Segundo Número">
        <button type="submit">CALCULAR</button>

    </form>

    <a href="#">Ir a Calculadora</a>
    <a href="/">Ir a home</a>


<%- include('../partials/footer'); %>