<%- include('../partials/header'); %>


<section>
    <h1>Saludos desde EJS PERRAS!!</h1>

    <img src="./foto1.jpg" alt="imágen de pantalla con código">
    
    <p>Foto e imagen!!</p>
    
</section>


<%- include('../partials/footer'); %>